.nav {
    grid-area: n;
    background-color: orange;
    padding: 20px;
}

.item {
    text-decoration: none;
    color: white;
}
a:hover {
    color: blue;
}
a:active {
    color: red;
}
.bestFriendPic {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
    padding-right: 5px;
}
.bestFriendPic:nth-child(1) {
    margin-top: 20px;
}
.bestFriendName {
    padding: 20px;
}